<div class="buttonsContainer">
        <div class="buttonHolder">
                <button mat-stroked-button color="white"(click)="downloadContacts()">Download</button>
        </div>
        <div class="buttonHolder">
                <button mat-stroked-button color="white" (click)="openUploadContactsDialog()">Upload</button>
        </div>
                
        <div class="buttonHolder">
                <button mat-stroked-button color="white" (click)="openDeleteContactDialog()">Delete Contact</button>
        </div>
        <div class="buttonHolder">
                <button mat-stroked-button color="white" (click)="openUpdateContactDialog()">Update Contact</button>
        </div>
        <div class="buttonHolder">
                <button mat-stroked-button color="white" (click)="openAddNewContactDialog()">Add New Contact</button>
        </div>
        
</div>